* {
  font-family: "Jost", sans-serif;
}

.bg-header {
  background-color: var(--bg-color);
  transition: 0.5s;
}

.bg--white {
  background-color: #fff;
}

.btn-bg--white {
  background-color: #fff;
}

.btn-has-border {
  border: 2px solid #fff;
}

.fixed-top {
  position: fixed;
  top: 35px;
  width: 100%;
  z-index: 10;
}

.has-underlined,
.has-underlined-run {
  --bg-color: var(--primary-color);
  position: relative;
}

.has-underlined:before,
.has-underlined-run:before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 10px;
  width: 100%;
  background-color: var(--bg-color);
  transition: 0.5s;
}

.has-underlined-run:before {
  width: 0;
}

.has-underlined-run:hover:before {
  width: 100%;
}

/* reuse */
.read-more {
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  font-size: 17px;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
  padding: 0;
  transition: 0.3s ease-in-out;
}

.read-more:hover {
  color: var(--primary-color);
}

.red-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary-color);
  font-family: "Jost", sans-serif;
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  font-family: "Jost", sans-serif;
  color: var(--heading-color);
}
.green-btn {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
}
.green-btn:hover {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
}
