/* dark theme */
body.dark {
  background-color: var(--bg-color);
}
/* header css */
.page-header {
  height: 90px;
  padding: 0;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  display: flex;
  align-items: center;
}

.page-header .navbar {
  padding: 0;
}
.page-header .navbar .navbar-brand {
  color: var(--primary-color);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  padding: 0;
  margin: 0;
}

.page-header .navbar .nav-item.active .nav-link {
  color: var(--primary-color);
}

.page-header .navbar .nav-item {
  padding: 0 15px;
}

.page-header .navbar .nav-item .nav-link,
.page-header .navbar .dropdown .dropdown-item {
  font-size: 19px;
  line-height: 29px;
  position: relative;
  transition: 0.5s;
  color: var(--heading-color);
}

.page-header .navbar .nav-item .nav-link {
  padding: 14px 0;
}

.page-header .navbar .nav-item .nav-link::before,
.page-header .navbar .dropdown .dropdown-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 10px;
  width: 0%;
  height: 1px;
  background-color: var(--primary-color);
  transition: 0.5s;
}

.page-header .navbar .nav-item .nav-link:hover,
.page-header .navbar .dropdown .dropdown-item:hover {
  color: var(--primary-color);
}

.page-header .navbar .nav-item .nav-link:hover::before,
.page-header .navbar .dropdown .dropdown-item:hover::before {
  width: 100%;
}

.page-header .navbar .dropdown-toggle {
  display: inline-flex;
  align-items: center;
  gap: 3px;
}

.page-header .navbar .dropdown-toggle::after {
  display: none;
}
.page-header .navbar .dropdown-toggle .icon {
  font-size: 10px;
}

.page-header .navbar .dropdown .dropdown-menu {
  border-radius: 10px;
  transform: translateX(-50px);
  min-width: 13rem;
  background-color: var(--dropdown-color);
  border: 1px solid var(--border-color);
}

.page-header .navbar .dropdown .dropdown-menu::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--dropdown-color);
  border: 1px solid var(--border-color);
  border-right: none;
  border-bottom: none;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.page-header .navbar .dropdown .dropdown-item {
  color: var(--heading-color);
  width: 120px;
  padding-top: 0;
  padding-bottom: 15px;
}

.page-header .navbar .dropdown .dropdown-item:hover {
  background-color: transparent;
}

/* responsive for header */
.navbar-toggler-icon {
  display: none;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  line-height: 1.5em;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper label {
  margin-bottom: 0;
  width: 60px;
}

.theme-switch-wrapper input[type="checkbox"] {
  display: none;
}

.theme-switch-wrapper .btn-wrapper {
  margin-left: 20px;
  cursor: pointer;
}

.theme-switch-wrapper .btn-wrapper .btn {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  font-size: 20px;
  color: var(--icon-clr);
}

.theme-switch-wrapper .btn-wrapper .btn-sun {
  display: none;
}

.theme-switch-wrapper input:checked + .btn-wrapper .btn-moon {
  display: none;
}

.theme-switch-wrapper input:checked + .btn-wrapper .btn-sun {
  display: block;
}

@media (max-width: 991px) {
  .page-header {
    height: auto;
    padding: 15px 0;
  }
  .navbar-toggler.collapsed .icon-expand {
    display: block;
  }

  .navbar-toggler.collapsed .icon-close {
    display: none;
  }

  .navbar-toggler .icon-expand {
    display: none;
  }

  .navbar-toggler .icon-close {
    display: block;
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }

  .navbar-collapse ul.navbar-nav {
    text-align: center;
    width: 100%;
    padding: 17px 0;
  }

  .navbar-collapse ul.navbar-nav .nav-link {
    text-align: center;
  }

  .page-header .navbar .navbar-collapse .dropdown .dropdown-menu {
    transform: translateX(0px);
    text-align: center;
  }
  .page-header .navbar .navbar-collapse .dropdown .dropdown-item {
    width: auto;
  }

  .page-header .navbar .nav-item .nav-link::before,
  .page-header .navbar .dropdown .dropdown-item::before {
    display: none;
  }

  .theme-switch-wrapper {
    position: absolute;
    top: 5px;
    right: 42px;
  }
}
/* Start banner-section css */
.banner-section {
  --banner-height: 95vh;
  width: 100%;
}

.banner-section .content-wrapper,
.banner-section .banner {
  width: 100%;
}
.banner-item {
  --bg-url: url("../img/banner1.jpg");
  background: var(--bg-url) no-repeat center;
  background-size: cover;
  min-height: var(--banner-height);
  position: relative;
  display: flex;
  align-items: center;
}

.banner-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c0c0c;
  opacity: 0.6;
  z-index: 0;
}

.banner-item.banner-2 {
  --bg-url: url("../img/banner2.jpg");
}

.banner-item.banner-3 {
  --bg-url: url("../img/banner3.jpg");
}

.banner-item.banner-4 {
  --bg-url: url("../img/banner4.jpg");
}

.banner-item .content {
  position: relative;
  color: #fff;
  max-width: 700px;
}
.banner-item h5 {
  font-size: 66px;
  font-weight: 700;
  line-height: 76px;
  margin-bottom: 0;
}

.banner-item p {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.banner-item .btn {
  color: #fff;
  border-radius: var(--border-radius);
  padding: 12px 33px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  transition: 0.5s;
}

.banner-item .btn-bg--white {
  color: var(--primary-color);
  margin-right: 10px;
}

.banner-item .btn-has-border:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.banner-section .swiper-pagination {
  bottom: 26px;
}

.banner-section .swiper-pagination-bullet {
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  transition: 0.7s;
}

.banner-section .swiper-pagination-bullet:hover {
  --swiper-pagination-bullet-inactive-color: var(--primary-color);
  background: var(--swiper-pagination-bullet-inactive-color);
}

.banner-section .swiper-pagination-bullet-active {
  --swiper-pagination-color: var(--primary-color);
  background: var(--swiper-pagination-color);
  transition: 0.7s;
}

.banner-section .swiper-pagination-bullet:hover,
.banner-section .swiper-pagination-bullet-active {
  --swiper-pagination-bullet-width: 30px;
  border-radius: 25px;
}

/* breakpoints */
@media (max-width: 1200px) {
  .banner-item h5 {
    font-size: 52px;
    line-height: 55px;
  }

  .banner-item p {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .banner-item h5 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .banner-section {
    --banner-height: 100vh;
  }
}

@media (max-width: 600px) {
  .banner-section {
    --banner-height: 500px;
  }
}

@media (max-width: 480px) {
  .banner-section {
    --banner-height: 440px;
  }
  .banner-item h5 {
    font-size: 32px;
    line-height: 40px;
  }
}

/* End banner css */

/* -------------------------------------------------- about-us section */
.about-us-section {
}

.about-us-section .content-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.about-us-section h3 {
  margin-bottom: 0;
}

.about-us-section .desc {
  color: var(--font-color);
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
}
/* -------------------------------------------------- about-us section */

/* -------------------------------------------------- service section */
.service-section {
  background-color: var(--bg-light);
}
.service-section i {
  color: var(--primary-color);
}
/* .service-section a:hover {
  color: var(--primary-color);
} */
.service-section .layout-wrap {
  display: flex;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.service-item {
  flex: 1;
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  position: relative;
  margin: 15px;
  min-width: calc(100% / 4);
}
.service-item:hover {
  background: var(--bg-light);
}
.service-item i {
  font-size: 30px;
}
.service-name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: var(--heading-color);
  transition: 0.5s;
}

.service-name:hover {
  color: var(--primary-color);
}
.service-description {
  color: var(--font-color);
}
@media (max-width: 991px) {
  .service-item {
    min-width: calc(100% / 3);
  }
}
@media (max-width: 600px) {
  .service-item {
    min-width: calc(100% / 1);
    margin-left: 0;
    margin-right: 0;
  }
}
/* -------------------------------------------------- why-choose-us-section */
.why-choose-us-section {
  padding: 50px 0;
}
.why-choose-us-section .row {
  align-items: center;
}
.why-choose-us-section img {
  width: 100%;
  border-radius: 10px;
}
.why-choose-us-section p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: var(--font-color);
  margin: 15px 0 35px 0;
}
.why-choose-us-section ul {
  padding: 0;
}
.why-choose-us-section li {
  list-style: none;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  margin: 15px 0;
  font-weight: 600;
}
.why-choose-us-section li i {
  color: var(--primary-color);
  margin-right: 12px;
  background: var(--bg-light);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}
/* -------------------------------------------------- achievement section (count up) */
.achievement-section {
  background: var(--primary-color);
}
.achievement-section .container {
  display: flex;
  flex-wrap: wrap;
}
.achievement-section .count-item {
  width: 25%;
  text-align: center;
}
.count-item .number {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
}
.achievement-text {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}
@media (max-width: 991px) {
  .achievement-section .count-item {
    width: 50%;
    margin: 20px 0;
  }
  .count-item .number {
    font-size: 40px;
    line-height: 50px;
  }
  .achievement-text {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .count-item .number {
    font-size: 35px;
    line-height: 38px;
  }
  .achievement-text {
    font-size: 15px;
  }
}
/* -------------------------------------------------- plan section */
.plan-section {
  background-color: var(--bg-light);
}
.plan-list {
  display: flex;
  margin: 72px auto;
  justify-content: center;
  align-items: center;
}
.plan-item {
  /* flex: 1; */
  width: 30%;
  height: fit-content;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 50px 40px;
  text-align: center;
}
.best-plan {
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  z-index: 5;
  transform: scale(1.1);
}
.best-plan .plan-heading {
  background-color: var(--primary-color);
  margin: -50px -40px 37px -40px;
  padding: 50px 40px 37px 40px;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.best-plan .plan-heading span {
  color: #fff;
}
.best-plan .plan-heading .plan-price {
  margin-bottom: 0;
}
.plan-save {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: var(--border-radius);
}
.plan-name {
  color: var(--heading-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
.plan-price {
  margin-top: 17px;
  margin-bottom: 37px;
}
span.price {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
}
span.price sup {
  font-size: 25px;
}
.per-month {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}
.plan-line {
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-weight: normal;
  align-self: center;
  margin-bottom: 7px;
}
.plan-item a.btn {
  margin-top: 32px;
}
@media (max-width: 991px) {
  .plan-item a.btn {
    display: none;
  }
}
@media (max-width: 800px) {
  .plan-list {
    flex-direction: column;
  }
  .plan-item {
    width: 100%;
    max-width: 412px;
    margin: 15px 0;
  }
  .best-plan {
    transform: scale(1);
  }
}

/* -------------------------------------------------- responsive checkpoints */
@media (max-width: 1080px) {
  .section-title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 600px) {
  .section-title {
    font-size: 32px;
    line-height: 35px;
  }
}
@media (max-width: 320px) {
  .section-title {
    font-size: 27px;
    line-height: 32px;
  }
}

/* -------------------------------------------------- back to top */
.btn-to-top {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: var(--primary-color);
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 100;
  padding: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
  display: none;
}

.btn-to-top:hover {
  color: #fff;
  bottom: 100px;
}
/* -------------------------------------------------- back to top */
/* -------------------------------------------------- luan_handle_fix */
.video {
  background: var(--bg-color);
}
.video_content {
  text-align: center;
  max-width: 950px;
  margin: auto;
}
.video_title h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--secondary-color);
  transition: 0.5s;
}
.video_title p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
  transition: 0.5s;
}
.video_content {
  margin-top: 3rem;
}
.video_relative {
  position: relative;
}
.video_relative img {
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.video_relative a {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
.video_relative a:hover {
  text-decoration: none;
  color: #189a46;
}
.video_relative span {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: #189a46;
}
.video_relative i {
  color: var(--primary-color);
}
.video_relative span:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.video_size {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
  /* display: none; */
}

.video_size iframe {
  width: 100%;
  height: 400px;
  display: block;
  border: none;
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
  line-height: 40px;
  top: -40px;
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 28px;
  font-family: "Jost", sans-serif;
  background: transparent;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

.title_h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: var(--heading-color);
}
/* End Css Video */

/* Star Css Clients */
.clients {
  background: var(--bg-light);
  padding: 65px 0px 55px 0px;
}
.clients_title {
  text-align: center;
}
.clients_title h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary-color);
}
.clients_title h3 {
  margin-bottom: 1.5rem;
}
.owl-carousel {
  max-width: 1050px;
  margin: auto;
}
.owl-carousel .content_testimonial {
  display: block;
  margin: 0;
  padding: 40px 30px;
  /* position: relative; */
  background: var(--bg-color);
  border-radius: var(--border-radius);
  border: none;
}
.content_testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /* position: relative; */
  margin-bottom: 1.5em;
}
.content_testimonial q {
  font-size: 1.2em;
  line-height: 28px;
  color: #6a6a6a;
}
.content_testimonial q::before {
  font-size: 50px;
  color: var(--primary-color);
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}
.content_testimonial q::after {
  box-sizing: border-box;
}
.owl-carousel .testimonial_item {
  display: flex;
  text-align: center;
}
.testimonial_item .test_img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}
.test_img img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.testimonial_item .test_title {
  margin: 0;
  margin-left: 20px;
  text-align: left;
  align-self: center;
}
.test_title h3 {
  color: var(--heading-color);
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.test_title p {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}
.owl-carousel .owl-nav {
  display: none;
  text-align: center;
}
.owl-carousel .owl-dots {
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 30px;
  margin-top: 80px;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}
.owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;
  visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
}
.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
  width: 30px;
  height: 10px;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}
/* End Css Clients */

/* Star Css Update */
.update_content {
  max-width: 650px;
}
.update_title p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 28px;
  color: var(--font-color);
}
.input_content {
  justify-content: space-between;
}
.input_right {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input_right[type="email"] {
  font-size: 16px;
  color: #696969;
  border-radius: var(--border-radius);
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.input_right[type="email"]:focus {
  background: #fff;
  border: 1px solid var(--primary-color);
  box-shadow: none;
}
.input_content input,
button {
  overflow: visible;
}
.input_right:focus {
  color: #495057;
  background-color: transparent;
  border-color: #d2b4f5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(142 67 231 / 25%);
}
.input_content button {
  flex-basis: 27%;
}
.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}
.btn-primary {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
}
.btn-primary:hover {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
}

@media (max-width: 667px) {
  .input_content button {
    flex-basis: 100%;
    display: block;
    width: 100%;
    margin-top: 16px;
  }
}
/* End Css Update */

/* Star Css Footer */
.footer {
  background: #000;
}
.footer_footer .container {
  padding-bottom: 50px;
}
.container .top_content {
  margin-right: -15px;
  margin-left: -15px;
}

.top_right h6 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
.top_right ul {
  margin: 0;
  padding: 0;
}
.top_right li {
  list-style: none;
  margin-bottom: 5px;
}
.top_right ul li p {
  font-weight: normal;
  font-size: 16px;
  color: var(--font-color);
  line-height: 28px;
}

.top_right a {
  color: var(--font-color);
  transition: 0.5s;
}
.top_right ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.top_title .title_icon {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.title_icon li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
}
.title_icon li a:hover {
  text-decoration: underline;
  color: #fff;
  transition: 0.7s;
}
.top_content .top_left {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%;
}
.top_left .left_item {
  display: flex;
  flex-wrap: wrap;
  margin-right: -50px;
  margin-left: 50px;
  justify-content: space-evenly;
  align-content: center;
}
.item_title {
  padding-right: 15px;
  padding-left: 15px;
}
.item_title h6 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
.item_title ul {
  margin: 0;
  padding: 0;
}
.item_title ul li {
  list-style: none;
  margin-bottom: 5px;
}
.item_title li a {
  font-weight: normal;
  font-size: 16px;
  color: var(--font-color);
  line-height: 28px;
}
.item_title li a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer_bot {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
  text-align: center;
}
.footer_bot .bot_content {
  padding: 25px 0px;
}
.bot_content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--font-color);
  margin-bottom: 0;
}
.bot_content a {
  color: var(--secondary-color);
  opacity: 0.9;
}
.bot_content a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

@media (max-width: 480px) {
  .footer .top_content {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .footer .top_content {
    grid-gap: 20px px;
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}
@media (min-width: 576px) {
  .top_left .item_title {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

/* End Css Footer */
@media (max-width: 600px) {
  .title_h3 {
    font-size: 30px !important;
    line-height: 38px;
  }
}
@media (max-width: 1080px) {
  .title_h3 {
    font-size: 33px !important;
    line-height: 40px;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
/* -------------------------------------------------- luan_handle_fix */
